

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  overflow: hidden;
}


.header_section{
  position: static;
  z-index: 1111;
  padding: 40px 0;
}

.sc-jSUZER{
  display: none;
}
// mobile menu
.exnZhx{
  display: none;
}
.sc-bYMpWt{
  display: none;
}
.eeCulQ{
  display: none;
}
.mobile-menu{
  display: none;
}
.m-menu{
  display: none;
}
.m-logo img {
	height: 63px;
}

.p{
    color:green
}
.m-toogle-area {
	display: flex;
	align-items: center;
	justify-content: end;
	width: 100%;
}
.h-btn{
  transition: all .4s ease ;
  &:hover {
      background: #FF2C6D;
      color: #fff;
    }

}
.m-btn{
  transition: all .4s ease ;
  &:hover {
      background: #FF2C6D;
      color: #fff;
    }

}


.toggle-btn {
	width: 37px;
	height: 37px;
	border-radius: 50%;
	border: 0;
	background: #fff;
  color: #000;
	font-size: 20px;
	line-height: 37px;
	transition: all .4s ease;
  &:hover {
    background: #FF2C6D;
    color: #fff;
  }

}
// link or a tag
.link{
	padding: 10px 16px;
	font-size: 15px;
	border-radius: 5px;
  display: block;
  font-weight: 500;
  font-family: 'Rubik', sans-serif;

    text-decoration: none;
    color: inherit;
    transition:ease .4s;
    -webkit-transition:ease .4s;
    -moz-transition:ease .4s;
    -ms-transition:ease .4s;
    -o-transition:ease .4s;
    &:hover{
        color: #FF2C6D;
    }
}
a{
    text-decoration: none;
    transition: all .4s ease ;
    -webkit-transition: all .4s ease ;
    -moz-transition: all .4s ease ;
    -ms-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    &:hover{ 
        color: #FF2C6D;
    }
}
.links{
	padding: 10px 16px;
	font-size: 15px;
	border-radius: 5px;
  display: block;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;

    text-decoration: none;
    color: inherit;
    transition:ease .4s;
    -webkit-transition:ease .4s;
    -moz-transition:ease .4s;
    -ms-transition:ease .4s;
    -o-transition:ease .4s;
    &:hover{
        color: #FF2C6D;
    }
    i{
      padding-right: 5px;
      font-size: 18px;
    }
}
a{
    text-decoration: none;
    transition: all .4s ease ;
    -webkit-transition: all .4s ease ;
    -moz-transition: all .4s ease ;
    -ms-transition: all .4s ease ;
    -o-transition: all .4s ease ;
    &:hover{ 
        color: #FF2C6D;
    }
}
.link.active{
    color: #fff;
    background: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 100%); 
  }
.link.activeme{
    color: #FF2C6D;
    background: transparent !important;
  }
 .links.active{
    color: #FF2C6D !important;
  }
.logo img{
    // width: 60px;
    height: 70px;
    margin-top: -10PX;


}
img{
    max-width: 100%;
}

nav{

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        
       
    }

}


// loading

/* content loading  */

.content-block {
    background-color: #fff;
    max-width: 90%;
    margin-left: 15%;
    border: 1px solid #dddfe2;
    border-radius: 3px;
  }
  
  .loader-wrapper {
    height: 500px;
    padding: 12px;
  }
  
  .loader-animation {
    background: #f5f6f7;
    height: 104px;
    overflow: hidden;
    position: relative;
  }
  
  .loader-animation>div {
    background: #fff;
    height: 6px;
    left: 0;
    position: absolute;
    right: 0;
  }
  
  .loader-animation::before {
    background-color: #f5f6f7;
    background-image: url(https://i.postimg.cc/VLC3WF9t/3pk-Fb-IT7-rn.gif);
    background-repeat: repeat-y;
    background-size: 100% 1px;
    content: ' ';
    display: block;
    height: 100%;
  }
  
  
  /*
    Below we position the mask divs
  */
  
  .block-a.block-a 
  /* 
  Have no idea why this written like this, without it the ui breaks works, can anyone explain this ?
  */
  {
    background-color: transparent;
    border: 8px solid #fff;
    border-radius: 50%;
    height: 40px;
    left: -8px;
    top: -8px;
    width: 40px;
  }
  
  
  div.block-b {
    height: 40px;
    left: 40px;
    right: auto;
    top: 0;
    width: 8px;
  }
  
  div.block-c {
    height: 8px;
    left: 48px;
    top: 0;
  }
  
  div.block-d {
    left: 136px;
    top: 8px;
  }
  
  div.block-e {
    height: 12px;
    left: 48px;
    top: 14px;
  }
  
  div.block-f {
    left: 100px;
    top: 26px;
  }
  
  div.block-g {
    height: 10px;
    left: 48px;
    top: 32px;
  }
  
  div.block-h {
    height: 20px;
    top: 40px;
  }
  
  div.block-i {
    left: 410px;
    top: 60px
  }
  
  div.block-j {
    height: 13px;
    top: 66px
  }
  
  div.block-k {
    left: 440px;
    top: 79px
  }
  
  div.block-l {
    height: 13px;
    top: 85px
  }
  
  div.block-m {
    left: 178px;
    top: 98px
  }
  
  // single pages
  .content{
    img{
      width: 100%;
      object-fit: cover;
      height: 300px;
}
  }
.user{
  margin: 10px 0;
  display: flex;
  gap: 10px;
  font-size: 14px;
  align-items: center;
  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    object-fit: cover;

}
 span{
  font-weight: bold;
 }
}

.edit{
  display: flex;
  gap: 5px;
  img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
.description{
  font-size: 14px;
  font-weight: 40px;
  line-height: 30px;
  text-align: justify;
}

.post {

  img{
    width: 100%;
    height: 300px;
  }
}

// menu components

.menu-img{
  img{
    width: 100%;
    height:200px;
  }

}

.contents h2{
  font-size: 22px;
}

// write post pages

.write-post{
  padding: 15px;
  input{
    width: 100%;
    border: 1px solid lightgray;
    margin: 8px 0;
    &focus{
      border: transparent;
    }
  }
 
}
.text_editor{
  height: 400px;
 
  .editor{
    height: 100%;
    border: 0;
    }
}

.item{
  display: flex;
  border: 1px solid lightblue;
  flex: 1;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;
  align-items: flex-start;
  .buttons{
    display: flex;
    justify-content: space-around;
  }
  input{
    display: block;
  }
}
.cat{
  display: flex;
  align-items: center;
  color: teal;
  gap: 2px ;
}
.files{
    text-decoration: underline;
    cursor: pointer;
}


// Home pages Style
.global_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}



// responsive
@media(max-width: 768px) {
  .sc-dkrFOg {
    display: none !important;

  }
  .header_section{
    display: none;
  }
  .sc-jSUZER{
    display: block;
  }
  
  .eeCulQ{
    display: block;
  }
  
  .navs{
    display: none;
  }
  // mobile menu
.exnZhx{
  display: none;
}
.sc-bYMpWt{
  display: none;
}
  .mobile-menu{
    display: block;
  }
  .m-menu{

    display: block;
  }
}